<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div class="container">
    <h1>Signup</h1>
<form action="" method="post">
    <label for="uname">Username</label><br>
    <input type="text" name="user"><br>
    <label for="passwd">Password</label><br>
    <input type="text" name="passwd"><br>
    <button>Submit</button><br>
</form>
</div>
</body>
</html>