<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <div class="header">
        <h1>Add Employee Details</h1>
    </div>
    <div class="formstyle">
    <form action="" method="post">
        <h3>Employee Details</h3>
        <label for="user">Employee Name</label><br>
        <input type="text" name="name" required><br>
        <label for="job">Job Description</label><br>
        <input type="text" name="job" required><br>
        <label for="sal">Salary to given</label><br>
        <input type="text" name="salary" required><br>
        <button>Submit</button>
    </form>
</div>
</body>
</html>